# IMPORTANT: the .env file must not be commited !!!
# This file is for development purposes only.
# When deploying to cloud the environmental variables are subsituted by the cloud provider.
# see also https://www.twilio.com/blog/2017/08/working-with-environment-variables-in-node-js.html

VUE_APP_GRAPHQL_HOST=localhost:4000
